<ion-view title="HenryVision">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <button id="henryVision-button1" class="button button-positive  button-block icon-left ion-camera">Take a photo</button>
        <div class="list card">
            <div class="item item-divider">Photo @ 2016 01 10 10:25</div>
            <div class="item item-body">
                <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
                    <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
                </div>
                <div>
                    <p>50%</p>
                </div>
                <div>
                    <p>It is a produce.</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>